{% load thumbnail %}
{% for post in posts %}
    <article x-data="{ postId: {{ post.id }} }" class="flex flex-col shadow my-4">
        <!-- Article Image -->
        <div class="hover:opacity-75 h-full">
            <img class="object-cover rounded-md" src="{{ post.postImage.url }}">
        </div>
        <div class="bg-white flex flex-col justify-start p-6">
            <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4">Technology</a>
            <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">{{ post.title }}</a>
            <p href="#" class="text-sm pb-3">
                By <a href="#" class="font-semibold hover:text-gray-800">{{ post.author }}</a>, Published on {{ post.created }}
            </p>
            <a href="#" class="pb-6">{{ post.summary }}..</a>
            <a @click.prevent="sendData({ action:'Change page', data:{page:'postDetails',id:postId}}, myWebSocket)" href="#" class="uppercase text-gray-800 hover:text-black">Continue Reading <i class="fas fa-arrow-right"></i></a>
        </div>
    </article>
{% endfor %}
